<h2>Welcome to Disney's Restaurant Guide, <%= @user.name %></h2>
<h4><%= @user.age %></h4>

<ul>
<% @restaurants.each do |restaurant| %>
<% unless @user.age < 21 && restaurant.serves_alcohol == false %>

	<li>
		<%= restaurant.name %> :serves alcohol?
		<%= restaurant.serves_alcohol %>
	</li>
	<% end %>
<% end %>
</ul>
